/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


html{
	background:url('../img/noise.png') #fff;
}

body{
	min-height: 600px;
    padding: 100px 0 50px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	box-shadow:0 0 25px rgba(0,0,0,0.3) inset;
	height:100%;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer{
	display: block;
}

.header {
	max-width: 978px;
	margin: auto;

}

.header select{
	float: right;
}

/*----------------------------
	Styling the presentation
-----------------------------*/


#impress:not(.impress-not-supported) .step{
	opacity:0.4;
}

#impress .step{
	width:700px;
	height: 600px;
	position:relative;
	margin:0 auto;
	
	-moz-transition:1s opacity;
	-webkit-transition:1s opacity;
	transition:1s opacity;
}

#impress .step.active{
	opacity:1;
}

#impress h2{
	font: normal 44px/1.5 'PT Sans Narrow', sans-serif;
	color:#444648;
	position:absolute;
	z-index:10;
}

#impress p{
	font: normal 18px/1.3 'Open Sans', sans-serif;
	color:#27333f;
	position:absolute;
	z-index:10;
}

#impress img{
	position:absolute;
	z-index:1;
}

.arrow{
	width:32px;
	height:54px;
	background:url('../img/img/arrows.png') no-repeat;
	position:fixed;
	top:50%;
	margin-top:-27px;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	opacity:0.8;
	border:none !important;
	text-decoration:none !important;
	
	-moz-transition:0.2s opacity;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.arrow:hover{
	opacity:1;
}

#arrowLeft{
	left:45px;
}

#arrowRight{
	right:45px;
	background-position:top right;
}

/* Hide the arrows if impress is not supported */

#impress.impress-not-supported + .arrow,
#impress.impress-not-supported + .arrow + .arrow{
	display:none;
}


/*----------------------------
	Slide 1 - Intro
-----------------------------*/


#impress #intro{
	width: 560px;
}

#intro h2{
	left: 0;
	top: 370px;
	width: 100%;
	text-align:center;
}

#intro p{
	left:50%;
	margin-left:-245px;
    text-align: left;
    top: 460px;
    width: 490px;
}

#intro img{
	right: 0;
    top: 50px;
}


/*----------------------------
	Slide 2 - Simplicity
-----------------------------*/


#impress #simplicity{
	width: 675px;
}

#simplicity h2{
	left: 0;
	top: 135px;
	width: 400px;
}

#simplicity p{
	left: 50px;
    text-align: justify;
    text-indent: 16px;
    top: 225px;
    width: 365px;
}

#simplicity img{
	right: 0;
    top: 30px;
}


/*----------------------------
	Slide 3 - Connect
-----------------------------*/


#impress #connect{
	width: 560px;
}

#connect h2{
	left: 0;
	top: 370px;
	width: 100%;
	text-align:center;
}

#connect p{
	left:50%;
	margin-left:-245px;
    text-align: left;
    top: 460px;
    width: 490px;
}

#connect img{
	right: 0;
    top: 50px;
}


/*----------------------------
	Slide 4 - Upload
-----------------------------*/


#impress #upload{
	width: 620px;
}

#upload h2{
	left: 0;
    text-align: left;
    top: 170px;
}

#upload p{
	left: 32px;
    top: 255px;
    width: 280px;
}

#upload img{
	right: 0;
    top: 30px;
}


/*----------------------------
	Slide 5 - Music
-----------------------------*/


#impress #music{
	width: 690px;
}

#music h2{
	left: 0;
    text-align: center;
    top: 10px;
    width: 100%;
}

#music p{
	font-size: 15px;
    left: 45px;
    text-indent: 15px;
    top: 119px;
    width: 402px;
}

#music img{
	right: 0;
    top: 200px;
}



/*----------------------------
	The Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 50%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 540px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
