#gauge-container {
    background: transparent url("../img/gauge-container.png") no-repeat 50% 50%;
    width: 346px;
    height: 346px;
    text-align: center;
    margin: 10px auto 10px auto;
}

#gauge {
    width: 310px;
    height: 260px;
    margin: 0 auto;
}

#gauge-container .contador {
    margin-top: -11px;
    width: 140px;
}


.widget-configuration{
	background: #585856;
	color: #fff;
	font-weight: bold;
	padding: 5px;
	border-bottom:1px dashed #B6B9B3;
	text-align: center;
}

.widget-configuration img{
	cursor: pointer;
	border-bottom:2px solid #585856;
}

.widget-configuration .activo{
	border-bottom:2px solid #00b7f1;
}

.widget-configuration img:hover {
	border-bottom:2px solid #00b7f1;
}

.ui-slider-range .ui-widget-header {
	line-height: 15px;
	height: 15px;
}
.slider {
	text-align: center;
	line-height: 15px;

	margin-right: 15px;
}


.result_box{
	margin: 10px;
	border: 1px solid #000;
	text-align: center;
}

.highcharts-title {
	background: black;
}