.toppage{
  	position:float;
	padding-bottom: 0px;
  	top:0;
  	left:0;
  	width:100%;
	height:110px;
	background: #444;
}

.toppage a{
	color: #fff;
}
#imagen_logo{
	padding-top: 10px;
}

#button_configuracion{
	float:right;
}

#button_guardar{
	float:left;
}

.imagen{
	float:right;
	margin-top:10px;
	margin-right: 5px;
	margin-left: 5px;
	border: 2px solid #000;		
}

.imagen:hover{
	border: 2px solid #40b1db;	
}

.page-header {
	background: url('../img/noise.png');
    	color: #FAFDFA;
	font-weight: bold;
   	text-align: center;
	margin: 0px;
	padding-top: 10px;
}


#search input {
  width: 350px;
  margin: 20px;
}

#localsearch input {
  width: 350px;
  margin: 20px;
}

.page-header #logoimage{
	display: inline;

}

.page-header #logotext{
	display: inline;
	font-size: 50px;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
}

.page-header #logotext a{
	display: inline;
	color: #525252;
	text-decoration: none;
}

.footer{
clear: left;
width: 100%;
background: white;
color: #FFF;
text-align: center;
padding: 4px 0;
margin-top: 10px;
}


#query{
	width:500px;
}

.resultswidget-header{
	width: 100%;

	float: left;
	border-bottom:1px solid #819bcb;
}

.seleccion_actual {
    float:left;
    padding: 0 5px;
}

#docs{
  margin-top:10px;
}

#pager,
#pager-header {
  float: right;
padding-right: 5px;
}
#pager li,
.links li {
  list-style-type: none;
  display: inline;
    
}

.resultado{
   margin-top: 10px;
   padding: 0 5px;
   margin: 5px;
   border-bottom:1px dotted #888;
}


.tagcloud_item{
 font-weight: bold;
}

#alertmsg{
text-align:center;
}

.alertmsg-yellow{
border:solid 1px #DEDEDE; 
background:#FFF68F;
color:#000;
padding:4px;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button{
border:1px solid #819bcb; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #a5b8da;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(top, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.button:hover{
 border:1px solid #819bcb; background-color: #819bcb;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#819bcb), color-stop(100%, #536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(top, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}



#configuration{
	text-align: center;
	font-size: 12px;
	margin: 0px;
	background: #e3e3e3;
	width: 100%;
	margin-top: 10px;
}

#configuration input {
	width: 400px;
}

#configuration p{
	padding-bottom: 20px;
}

#configuration h2{
	font-size: 24px;
	width:100%;
	background: url("../images/header.png") repeat scroll 0 0 #000;
	padding:10px;
	color: #fff;
}

#configuration h3{
	padding-bottom: 10px;
}

#configuration .col1{
	text-align: center;
	float:left;
	width: 45%;
	padding:10px;
}

#configuration .col2{
	text-align: center;
	float:right;
	width:45%;
	padding:10px;
}

/* Reset */
body,img,p,h1,h3,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}

h2{
	margin:0; 	
	color: #0B0B3B;
	
}

h3{
	margin:0; 	
	color: #000;
	font-size: 12px;
}


h4{
	margin:0; 
	padding-left:0px; 	
	color: #08298A;
	font-size: 11px;
	font-style: italic;
}

h7{
	color: #CCC;
	font-size: 28px;
	font-style: italic;	
}
/* End Reset */

body {font-size:0.8em; font-family:Arial,Verdana,Sans-Serif; background: url('../img/noise.png');}
a {color:#000;}


/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {background:#888;}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3 {color:#FFF}
.color-green h3
	{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
	{color:#FFF;}
/* End Colors */


.maincontent {
	

}


/* Columns section */

#columns .column {
    float: left;
    width: 100%;

		/* Min-height: */
		min-height: 400px;
		height: auto !important; 
		height: 400px;
}


/* Column dividers (width) : */
#columns #column0tab0 { width:35%; }
#columns #column1tab0 { width:65%; }

#columns #column0tab0 .widget { margin: 30px 15px 20px 25px; }	
#columns #column1tab0 .widget { margin: 30px 35px 20px 25px; }

#columns #column0tab1 { width:50%; }
#columns #column1tab1 { width:50%; }

#columns #column0tab1 .widget { margin: 30px 25px 0 25px; }	
#columns #column1tab1 .widget { margin: 30px 25px 0 25px; }

	
#columns .widget {
    margin: 30px 20px 0 20px;
    padding: 1px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#columns .widget .widget-head {
    color: #000;
    overflow: hidden;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
}
#columns .widget .widget-content {
    background: #fff url() repeat-x;

    color: #000;
/*
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;

    line-height: 1.2em;
*/
    overflow: hidden;
}


#columns .widget .widget-content p {
    padding-top: 0em;
    padding-bottom: 1em;
}
#columns .widget .widget-content h2 {
    padding-top: 0.5em;
}
#columns .widget .widget-content img {
    float: right;
    margin: 5px;
    border: 1px solid #000;
}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding-bottom: 10px;
    list-style: disc;
}
#columns .widget .widget-content ul li {padding: 2px;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */


#popup{
    border: 1px solid white;
    z-index: 1001;
    width: 400px;
    left:50%;
    top:100px;
    margin-left: -200px;
    position: absolute;
    background-color: #888888;
}
#popup table{
    border: none;
    margin: 0;
}
#popup_title {
    font-size:14px;
    color: white;
    padding:5px;
    margin: 0;
}

.popup_title_normal {
   background-color:#3375A3;
}

.popup_title_alert {
   background-color:#F15966;
}

.popup_title_info {
   background-color:#FFC416;
}

#popup_content {
    color:black;
    min-height:10px;
}

#popup_content p {
    margin: 10px;
}

#popup_buttons {
   margin: 5px;
    border-top: 1px solid gray;
    text-align:center;
    padding: 10px 0;
}

#popup_buttons button {
    margin: 0 5px;
}

#map{
width: auto;
display: block;
    height: 0px;
    margin: 0px auto;
}

.left        { float: right; }
