        .sortable {
            list-style-type: none; 
            margin: 0; 
            padding: 0;  
            margin-bottom: 10px; 
            background: #eee; 
            padding: 5px; 
            width: 143px;
        }
        .sortable li {
            margin: 5px; 
            padding: 5px; 
            font-size: 1.2em; 
            width: 120px; 
        }

.popup{
float:center;

}

.checked {
    background-color: #0f0;
}

.unchecked {
    background-color: #ddd;
}

.search-query{width:28%;padding-left:14px;padding-right:14px;margin-bottom:0;-webkit-border-radius:14px;-moz-border-radius:14px;border-radius:14px;}
.search-query{padding:4px 9px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:1;color:#ffffff;color:rgba(255, 255, 255, 0.75);background:#fff;background:#fff;border:1px solid #111;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1),0 1px 0px rgba(255, 255, 255, 0.15);-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.search-query :-moz-placeholder{color:#eeeeee;}
.search-query::-webkit-input-placeholder{color:#eeeeee;}
.search-query:hover{color:#ffffff;background-color:#999999;background-color:rgba(255, 255, 255, 0.5);}
.search-query:focus,.search-query.focused{padding:5px 10px;color:#333333;text-shadow:0 1px 0 #ffffff;background-color:#ffffff;border:0;-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.15);-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.15);box-shadow:0 0 3px rgba(0, 0, 0, 0.15);outline:0;}

.search {
		padding-top: 30px;
		padding-bottom: 20px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.addNewWidget {
	text-align: center;
	
	border: 2px dashed #999;
	margin: 30px 35px 0 25px;

}

.addNewWidget h1 {
  transition:color 0.4s ease-in;
  -moz-transition:color 0.4s ease-in; /* FF3.7+ */
  -o-transition:color 0.4s ease-in; /*  Opera 10.5 */
  -webkit-transition:color 0.4s ease-in; /* Saf3.2+, Chrome */
}

.addNewWidget h1:hover{
  color: #40b1db;
}

.addNewWidgetIcon{
  float:center;
  text-align: center;
  background-image: url("../img/addNewWidget.png");

   
  background-repeat: no-repeat;
  height:64px;
  width:64px;
  opacity: 0.5;
}
.addNewWidgetIcon:hover{
  background-image: url("../img/addNewWidget_hover.png");
  transition: background-image 0.4s ease-out;
  -moz-transition: background-image 0.4s ease-out; /* FF3.7+ */
  -o-transition: background-image 0.4s ease-out; /*  Opera 10.5 */
  -webkit-transition: background-image 0.4s ease-out; /* Saf3.2+, Chrome */  
  opacity: 1;
}

.addNewWidget h1 {font-size:20px;color:#888;margin-top:30px;margin-bottom:30px; text-align: center;}

.addNewWidget img { text-align: center;}

/* Error page */
.centered {position: fixed; top: 50%; left: 50%; margin-top: -175px; margin-left: -230px;}
#mini_inner { background-color:#fff;width:360px;padding: 50px; height:250px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);z-index:1;}
#mini_inner .instant {height:55px;width:200px;margin-left:auto;margin-right:auto;}
#mini_inner h1 {font-size:20px;color:#888;margin-top:30px;margin-bottom:30px;}
#mini_inner p {font-size:14px;color:#888;text-align:left;line-height:1.4em;}
#mini_inner .close {font-size:12px; position:absolute;right:15px;bottom:15px;}
.bottom {position:fixed; top: 50%; left: 50%; margin-top:175px;margin-left:-220px;}
.bottom .mini_logo { height: 42px; width: 100px; background: url(http://stanlemon.net/images/mini/posterous-logo.png) center center; display: block; overflow: hidden;text-indent: -999px;}

.trash {
	
	padding: 50px;
    background-color: #000;
}

.ui-widget-content  a.active{
  color:#0F0;
}


.widget-placeholder { 
border: 2px dashed #819bcb;

}
.column .widget-placeholder { margin: 30px 35px 0 25px; }

.toppage{
  	position:fixed;
  	top:0;
  	left:0;
  	width:100%;
	height:36px;
	background: #000;
	z-index: 5;

}

.toppage a{
	color: #fff;
}

#button_configuracion{
	float:right;
}

#button_guardar{
	float:left;
}

.imagen{
	float:left;
	margin-right: 5px;
	margin-left: 5px;
	border: 2px solid #000;		
}

.imagen:hover{
	border: 2px solid #40b1db;	
}

.page-header {
	background: url('../img/noise.png');
    	color: #FAFDFA;
	font-weight: bold;
   	text-align: center;
	margin: 0px;
	padding-top: 50px;
}


.resultado #logoimage{
	display: inline;
	float:right;

}

.page-header #logotext{
	display: inline;
	font-size: 50px;
	text-decoration: none;
	text-align: center;
	padding-left: 20px;
}

.page-header #logotext a{
	display: inline;
	color: #525252;
	text-decoration: none;
}

.resultswidget-header{
	width: 100%;
	border-bottom:1px solid #819bcb;
}

.seleccion_actual {
    float:left;
    padding: 10px 10px;

}

.graphics{
	display: inline;

}

#docs{
  margin-top:10px;
}

#pager,
#pager-header {
  float: right;
padding-right: 5px;
}
#pager li,
.links li {
  list-style-type: none;
  display: inline;
    
}

.resultado{
   margin-top: 10px;
   padding: 0 5px;
   margin: 5px;
   border-bottom:1px dotted #888;
}


.tagcloud_item{
 font-weight: bold;
}

#alertmsg{
text-align:center;
}

.alertmsg-yellow{
border:solid 1px #DEDEDE; 
background:#FFF68F;
color:#000;
padding:4px;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#configuration{
	text-align: center;
	font-size: 12px;
	margin: 0px;
	background: #e3e3e3;
	width: 100%;
	margin-top: 20px;
}

#configuration input {
	width: 400px;
}

#configuration p{
	padding-bottom: 20px;
}

#configuration h2{
	font-size: 24px;
	width:100%;
	background: url("../images/header.png") repeat scroll 0 0 #000;
	padding:10px;
	color: #fff;
}

#configuration h3{
	padding-bottom: 10px;
}

#configuration .col1{
	text-align: center;
	float:left;
	width: 45%;
	padding:10px;
}

#configuration .col2{
	text-align: center;
	float:right;
	width:45%;
	padding:10px;
}

/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:0.8em; font-family:Arial,Verdana,Sans-Serif; background: url('../img/noise.png');}
a {color:#000;}


/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {background:#888;}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3 {color:#FFF}
.color-green h3
	{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
	{color:#FFF;}
/* End Colors */


.maincontent {
	

}


/* Columns section */

#columns .column {
    float: left;
    width: 100%;

		/* Min-height: */
		min-height: 400px;
		height: auto !important; 
		height: 400px;
}


/* Column dividers (width) : */
#columns #column0tab0 { width:40%; }
#columns #column1tab0 { width:60%; }

#columns #column0tab0 .ui-widget { margin: 30px 15px 0 25px; }	
#columns #column1tab0 .ui-widget { margin: 30px 35px 0 25px; }

#columns #column0tab1 { width:50%; }
#columns #column1tab1 { width:50%; }

#columns #column0tab1 .ui-widget { margin: 30px 25px 0 25px; }	
#columns #column1tab1 .ui-widget { margin: 30px 25px 0 25px; }

	

#columns .ui-widget-header {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}
#columns .ui-widget-header h3 {
    padding: 0 10px;
    float: left;
}




/* End Columns section */




#map{
width: auto;
display: block;
    height: 300px;
    margin: 0px auto;
}

.left        { float: right; }





#dvLoading
{
	background: #fff url(../img/loading_animation.gif) no-repeat center center;
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 1000;
}

div.growlUI { background: url(../img/check.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left
}


.footer{
border-top:1px dotted #819bcb;
clear: left;
width: 90%;
padding-top: 20px;
padding-left: 20px;
color: #000;
}

.gsiLogo{
  float:left;
  background-image: url("http://apps.gsi.dit.upm.es/episteme/images/gsiLogoGrey.png");
  transition: background-image 0.3s ease-in;
  -moz-transition: background-image 0.3s ease-in; /* FF3.7+ */
  -o-transition: background-image 0.3s ease-in; /*  Opera 10.5 */
  -webkit-transition: background-image 0.3s ease-in; /* Saf3.2+, Chrome */
   
  background-repeat: no-repeat;
  height:100px;
  width:100px;
  opacity: 0.5;
}
.gsiLogo:hover{
  background-image: url("http://apps.gsi.dit.upm.es/episteme/images/gsiLogoColor.png");
  opacity: 1;
}

.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}
.carousel{margin:0 auto;max-width:940px;padding:0 20px 0;width:auto}.app-carousel-nav-container{margin:0 auto 20px;padding-top:10px;position:relative}.app-carousel-nav{list-style:none;margin:inherit auto;padding:0;position:relative;white-space:nowrap}.app-carousel-nav .nav-bg{background:url(../img/tab-active.png) no-repeat;display:none;height:135px;left:0;-webkit-opacity:0;-moz-opacity:0;-o-opacity:0;opacity:0;position:absolute;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease;width:100%;z-index:-1}.app-carousel-nav-active .nav-bg{display:block;-webkit-opacity:1;-moz-opacity:1;-o-opacity:1;opacity:1}.app-carousel-nav-item{border-right:1px solid #ccc;cursor:pointer;display:block;float:left;height:137px;margin:inherit auto 26px;position:relative;text-align:center;width:19.8%}.app-carousel-nav-item span{display:block}.app-carousel-nav-img{margin:20px 0 5px 0;width:100px;vertical-align:top}.app-carousel-nav-label{font-size:.9em;margin:0 0 7px 0;text-align:center;-webkit-transition:color .4s linear;-moz-transition:color .4s linear;-o-transition:color .4s linear;transition:color .4s linear}.app-carousel-nav-active .app-carousel-nav-label,.app-carousel-nav-focus .app-carousel-nav-label{color:#33b5e5}.app-carousel-nav-item .box-border .top,.app-carousel-nav-item .box-border .bottom,.app-carousel-nav-item .box-border .left,.app-carousel-nav-item .box-border .right{background:#33b5e5;-webkit-box-shadow:0 0 25px 0 #33b5e5;-moz-box-shadow:0 0 25px 0 #33b5e5;box-shadow:0 0 45px 0 #33b5e5}.app-carousel-nav-item.first{border-left:1px solid #ccc}.app-carousel-nav-item .box-border{display:none;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;-webkit-transition:opacity .4s ease;-moz-transition:opacity .4s ease;-o-transition:opacity .4s ease;transition:opacity .4s ease;zoom:1}.app-carousel-nav-item.app-carousel-nav-active .box-border{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);opacity:1}.app-carousel-container{position:relative}.app-carousel-left,.app-carousel-right{cursor:pointer;display:block;height:36px;margin-top:-46px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;position:absolute;top:50%;-webkit-transition:opacity .4s linear;-moz-transition:opacity .4s linear;-o-transition:opacity .4s linear;transition:opacity .4s linear;width:22px;z-index:50}.app-carousel-left{background:url(../img/arrow-left.png) no-repeat left center;left:-20px}.app-carousel-right{background:url(../img/arrow-right.png) no-repeat 0 center;right:-20px}.app-carousel-left:hover,.app-carousel-right:hover{background-position:-23px center}.app-carousel-left:active,.app-carousel-right:active{background-position:-46px center}.app-carousel-left.app-carousel-nav-disable:hover,.app-carousel-left.app-carousel-nav-disable:active,.app-carousel-right.app-carousel-nav-disable:hover,.app-carousel-right.app-carousel-nav-disable:active{background-position:0 center}.app-carousel-left.app-carousel-nav-disable,.app-carousel-right.app-carousel-nav-disable{cursor:default;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20);opacity:.2}.app-carousel{height:330px;margin:0 auto;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;overflow:hidden;width:900px;zoom:1}.app-carousel .carousel-content{height:inherit;list-style:none;margin:0;padding:0;position:relative;-webkit-transition:left .4s cubic-bezier(.455,.03,.515,.955);-moz-transition:left .4s cubic-bezier(.455,.03,.515,.955);-o-transition:left .4s cubic-bezier(.455,.03,.515,.955);transition:left .4s cubic-bezier(.455,.03,.515,.955);white-space:nowrap}.app-carousel .carousel-item{display:inline-block;height:inherit;margin:0 20px auto 0;width:900px}.carousel-item .screen{float:right;margin:0 0 0 20px;max-width:450px}.app-carousel .carousel-item .carousel-item-content{float:left;white-space:normal;width:100%}.app-carousel.carousel-active{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1;zoom:1}


.tagarea{
  margin: 10px 10px 10px 20px;
}

.ui.tag{
  display: inline-block;
  padding: 0px 10px;
  height: 29px;
  line-height:29px;
  border-radius: 5px;
  font-weight:bold;
  font-size:11px;
  text-decoration:none;
}

.ui.tag.green
{
  border: 1px solid #769e42;
  box-shadow: inset 0 1px 0 #c5e59c ;
  background-color: #9ed35a;
  text-shadow: 0px 1px 1px #6ea23b;
  color: #fff;
  background-image: linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -o-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
}

.ui.tag.green:hover{
  background-color: #b7fa66;
  background-image: linear-gradient(top, #b7fa66 0%, #7ec940 100%);
  background-image: -o-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
  background-image: -moz-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
  background-image: -webkit-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
  background-image: -ms-linear-gradient(top, #b7fa66 0%, #7ec940 100%);
}

.ui.tag.green:active{
  color:#0F0;
  background-image: linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -o-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -moz-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -webkit-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -ms-linear-gradient(top, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
}

.ui.tag.green.tags{
  display:inline-block;
  border-radius: 5px 0 0 5px;
  border-right-width:0;
  position:relative;
  z-index:2;
  margin-right: 20px;
  margin-bottom: 10px;
}

.ui.tag.green.tags.selected{
	color:#0F0;
}

.ui.tag.green.tags:after{
  content: " ";
  width: 22px;
  height: 22px;
  line-height: 18px;
  font-size:25px;
  border-top: 1px solid #769e42;
  border-right: 1px solid #769e42;
  box-shadow: inset 0 1px 0 #c5e59c ;
  background-color: #9ed35a;
  text-shadow: 0px 1px 1px #7eac46;
  border-radius: 3px 7px 3px 0;
  color: #fff;
  background-image: linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -o-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -moz-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -webkit-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -ms-linear-gradient(135deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  position:absolute;
  top: 3px;
  right: -12px;
  z-index:-3;
  -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
       -moz-transform: rotate(45deg);  /* FF3.5+ */
        -ms-transform: rotate(45deg);  /* IE9 */
         -o-transform: rotate(45deg);  /* Opera 10.5 */
            transform: rotate(45deg);
               filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6\96IE9 */
                       M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
                 zoom: 1;

}

.ui.tag.green.tags:hover:after{
  background-color: #b7fa66;
  background-image: linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -o-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -moz-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -webkit-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
  background-image: -ms-linear-gradient(-45deg, #b7fa66 0%, #7ec940 100%);
}
.ui.tag.green.tags:active:after{
  background-image: linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -o-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -moz-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -webkit-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
  background-image: -ms-linear-gradient(-45deg, rgb(125,196,64) 0%, rgb(157,210,88) 100%);
}

.ui.tag.green.tags:before{
  content: " ";
  height:5px;
  width:5px;
  display:block;
  position:absolute;
  right:-3px;
  top:11px;
  background-color: #fcfdf5;
  border: 1px solid #83ab52;
  border-radius:5px;
  box-shadow: 0 1px 0 #b2ddd83;

}


.ui.tag .count{
  padding:2px 5px;
  border: 1px solid #9e5c26;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 #f5bf8c;
  background-color: #ed943f;
  text-shadow: 0px 1px 1px #000;
  margin-left: 10px;
  background-image: linear-gradient(bottom, rgb(211,95,32) 0%, rgb(223,131,45) 100%);
  background-image: -o-linear-gradient(bottom, rgb(211,95,32) 0%, rgb(223,131,45) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(211,95,32) 0%, rgb(223,131,45) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(211,95,32) 0%, rgb(223,131,45) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(211,95,32) 0%, rgb(223,131,45) 100%);
}
